<div class="contact">
    <div>Name : {{ contact.name }}</div>
    <div>Email : {{ contact.email }}</div>
    <div>Phone : {{ contact.phone }}</div>
    <br/>
    <div>Message: {{ contact.message }}</div>
</div>